<div id="modal" class="modal fade" tabindex="-1" aria-labelledby="modal" aria-hidden="true"
    data-bs-backdrop="static">

    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="exampleModalLabel">Rol de usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/roles" id="form" method="POST">
            <div class="col-md-12">
              <label for="name" class="form-label">Nombre</label>
              <input id="name"  name="name" type="text" class="form-control name-role">
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
        </form>
      </div>
    </div>
  </div>


